<ui-block-alert
  alertHeading="Your application was saved succesfully!"
  [successBlockAlert]="true"
  [singleLineBlockAlert]="true"
  [alertVisible]="saveBlockAlert"
  (hideShowBlockAlertUpdate)="alertCheck($event)"
  [fixedAlert]="applyFixed" 
></ui-block-alert>

<ui-stepper 
    [steps]="steps" 
    [stickyWithAlert]="hasAlert" 
    (modalCheck)="modalInStepperCheck($event)">
</ui-stepper>

<ui-modal 
[isShowModal]="stepperSaveModal"
(hideShowModalUpdate)="stepperSaveModal = $event" 
(btnClickedUpdate)="buttonInModalCheck($event)"
[hasIllustration]="false" 
modalId="Save"
modalHeading="Save your application" 
modalText="You should save your application for later." 
buttonText="Save" 
secondaryButtonText="Cancel"
></ui-modal>

<ui-modal 
[isShowModal]="stepperCancelModal"
(hideShowModalUpdate)="stepperCancelModal = $event" 
(btnClickedUpdate)="buttonInModalCheck($event)"
[hasIllustration]="false"
modalId="Cancel"
modalHeading="Cancel your application" 
modalText="You can cancel your application for now." 
buttonText="Continue" 
secondaryButtonText="Cancel"
></ui-modal>

